# Python
__pycache__/
*.py[cod]
.venv/
.env
.ipynb_checkpoints/

# Data
data/raw/
data/processed/
*.csv
*.jsonl
*.parquet

# Models/checkpoints
models/
checkpoints/
outputs/
runs/
wandb/

# Hugging Face / cache
.cache/
huggingface/
hf_cache/

# OS/editor
.DS_Store
.idea/
.vscode/